[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
pyinstaller = "*"

[packages]
cython = "*"
kivy = "*"
pygments = "*"
pip = "==18.0"
pygame = "*"
